.card {
  padding: 24px 18px;
}

.card div {
  background: var(--navyBlue);
  width: 100%;
  height: 248px;
  display: flex;
  flex-direction: column;
  padding: 48px 18px;
  color: var(--white);
  gap: 28px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.8);
}

.card h2 {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-weight: bold;
}

.card svg {
  margin-right: 18px;
  font-size: 38px;
}

.card div:nth-child(1) {
  background: var(--white);
  color: var(--navyBlue);
  border-bottom: 1px solid #3a3939cc;
}

.card div:nth-child(2) {
  border-bottom: 1px solid #3a3939cc;
}

.card span {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
}
